body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  color: #333;
}
#countries-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;

}
#countries-list h3{
  font-size: smaller;
}

#countries-list h2{
  font-size: small;
}